@import url('https://fonts.googleapis.com/css?family=Nunito:700&display=swap');

.App {
  text-align: center;
  color: #1C2833;
  font-family: 'Nunito', sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  font-family: 'Nunito', sans-serif;
  color: #1C2833;
  font-size: 60px;
  font-style: bold;
}

.board {
  background: #379FF8;
  background-image: linear-gradient(#41ABF8, #1B75D2);
  width: calc(700px * 0.8);
  margin: auto;
}

.board > .cell {
  margin: 4px;
  display: inline-block;
  width: calc(700px / 7 * 0.8 - 8px);
  height: calc(600px / 6 * 0.8 - 8px);
  background: white;
  box-sizing: border-box;
  border-radius: 50%;
}

.board > .cell[data-player = '1'] {
  background: linear-gradient(#FDE385, #F2BF31);
}

.board > .cell[data-player = '2'] {
  background: linear-gradient(#EC7578, #D2382D);
}

.status {
  font-family: 'Nunito', sans-serif;
  color: #1C2833;
  font-size: 30px;
  font-style: bold;
}

.button {
  background-color: #e7e7e7; 
  color: black;
  border: none;
  padding: 10px 32px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
}